.about_pic {
    min-height: 75vh;
    background-image: url("../../components/Images/AboutBackgroundImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .header-title {
    font-size: 2.2rem;
    color: #fff;
  }
  
  .header-text {
    margin-top: -1.7rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: #fff;
    margin: 0.5rem;
  }
  
  .pic_text {
    margin-top: 8rem;
  }

  .sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0.5rem;

    align-items: center;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  
  .right img {
    max-width: 100%;
    height: auto;
  }
  
  