

  
  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .homecard{
    margin-top: 3rem;
    display:grid;
    grid-template-columns: auto auto auto;

  }
  

   