.newsub {
  min-height: 35vh;
  background-image: url("../../components/Images/contactbackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--blue-color);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
  margin-left: 40rem;
}

/* .heading_sub {
  margin: 1rem 0;
}

.form-group {
  margin: 1rem 0;
}

.tos-label {
  font-size: 13px;
  font-family: Zoho Puvi Regular, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif !important;
  visibility: visible;
  color: #000;
  line-height: 18px;
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
}

.tos-checkbox {
  visibility: visible;
  cursor: pointer;
  display: inline-block;
  /* float: left; */
  /* margin: 0;
  width: auto;
}

@media (min-width: 576px) {
  .card2 {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@media (min-width: 768px) {
  .card2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
}

@media (min-width: 992px) {
  .card2 {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }
}

@media (min-width: 1200px) {
  .card2 {
    margin-top: 25rem;
    margin-bottom: 25rem;
  }
} */ 
