.newsub{
    min-height: 35vh;
    background-image: url("../../components/Images/contactbackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .background{
    /* min-height: 35vh;
    background-image: url("../../components/Images/contactbackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */

.card2{
    display: flex;
    justify-content:flex-end;
    margin-top: 20rem;
    margin-bottom: 20rem;
    background-color: var(--blue-color);
    width: calc(33.33% - 1rem);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
   color: #fff;
  
margin-left: 70rem;
  margin-top: 20rem; 
}

.input_card{
    margin: 1rem 0; 
    width: 90%;
}
.heading_sub{
    margin: 1rem 0;
}

/* .checkbox {
    display: inline-block;
    vertical-align: start;
    margin-right: 10rem;
  }
  
  label {
    display: inline-block;
    vertical-align: middle;
  } */
  
/* 
  .flex {
    display: flex;
    align-items: center; /* align items vertically */
  
/*   
  .checkbox {
    margin-right: 10px; /* adjust spacing */
  
/*   
  label {
    display: inline-block;
  } */
   
  .form-group {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  .tos-label {
    font-size: 13px;
    font-family: Zoho Puvi Regular,-apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif!important;
    visibility: visible;
    color: #000;
    line-height: 18px;
    position: relative;
    display: inline-block; 
    margin-left: 0.5rem; 
  }
  
  .tos-checkbox {
    visibility: visible;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin: 0; 
    width: auto; 
  }
  