.navbar{
    background-color: lightgrey;
    /* padding: 1.8rem 0; */
    box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
}

.navbar-content{
    display: flex;
    width: 100%;
    /* flex-direction: row; */
}

.navbar-items{
    display: flex;
    /* margin: 1.4rem; */
    
  list-style-type: none;
}
.navbar-items li {
    margin-right: 1.5rem;
  }
.nav-link{
    /* transition: ; */
}
.nav-link:hover{
    color: purple;
}