
.footer{
    display:flex;
    padding: 2rem;
    background-color: #101010;
}
.icon{
    font-size: 2rem;
    color : white
}
.left-footer{
    color: white;
}
.middle{
    color: #fff;
}
.heading{
    border: 1px solid transparent;
    background-color: rgb(61, 61, 61);
}
.wrapper{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction:column;
    color: white;
}

.icons{
    display: flex;
    justify-content: space-evenly;

}



@media screen and (max-width: 768px)  { 
    .icon{
        font-size: 1.5rem;
        margin-right: 2rem;
    }
    .wrapper{
        display: flex;
        width: fit-content;
    }
    .footer{
        padding: 5rem;
    }
    .icon:hover{
        transform: scale(1.5);
        transition: all 1s;
    }

}
.left-footer{
    color: white;
    margin-right: 2rem;
}

.middle{
    color: #fff;
    margin: 0 2rem;
}

.wrapper{
    display: flex;
    flex-direction:column;
    color: white;
    margin-left: 2rem;
}
