/* .devider {
    display: flex;
    align-items: center;
  }
  
  .abt-video {
    flex: 1;
  }
  
  .right-v {
    flex: 1;
  }
  
  .text {
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
  } */
  .devider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .abt-video {
    flex: 1;
    margin-right: 10px;
  }
  
  .right-v {
    flex: 1;
    margin-left: 10px;
  }
  
  