.video {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.video-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.video-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-player {
  width: 60%;
  margin-right: 2rem;
}

.video-player iframe {
  position: relative;

}

.video-description {
  width: 35%;
}

.video-text {
  font-size: 18px;
  line-height: 1.5;
}
